<template>
  <nav class="container is-max-desktop">|
    <router-link to="/">Home</router-link>|
    <router-link to="/add">Add <fa icon="plus" /></router-link>|
  </nav>
  <router-view/>
</template>

<style>
@import '~bulma/css/bulma.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
