<template>
    <AddForm />
</template>

<script>
import AddForm from "@/components/AddForm";

export default {
    name: "AddHomework",
    components:{
        AddForm
    }
}
</script>

<style>

</style>