<template>
    <EditForm/>
</template>

<script>
import EditForm from "@/components/EditForm";

export default {
    name: "EditHomework",
    components:{
        EditForm
    }
}
</script>

<style>

</style>