<template>
  <Homework/>
</template>

<script>
import Homework from "@/components/Homework.vue";
export default {
    name: "HomeworkList",
    components: {
        Homework
    }
}
</script>

<style>

</style>