<template>
  <div>
    <div v-if="err.length">
      <div
        v-for="e in err"
        :key="e"
        class="has-background-danger has-text-danger-light"
      >
        {{ e }}
      </div>
    </div>
    <h1 class="title">Add New Homework</h1>
    <form @submit.prevent="saveWork">
      <div class="field">
        <label class="label">Name:</label>
        <div class="control">
          <input type="text" v-model="name" class="input" placeholder="name" />
        </div>
      </div>
      <div class="field">
        <label class="label">Descrpition</label>
        <div class="control">
          <textarea
            class="textarea"
            v-model="description"
            placeholder="write here description..."
          ></textarea>
        </div>
      </div>
      <p></p>
      <!-- <select v-model="status">
        <option v-for="s in status" :value="s.id" :key="s" >
          {{ s.name }}
        </option>
      </select> -->
      <div class="field">
        <label class="label">Status</label>
        <div class="select">
          <select v-model="sel" class="form-control">
            <option value="" disabled selected>Select one:</option>
            <option v-for="s in status" :value="s.id" :key="s">
              {{ s.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit">Add new work</button>
        </p>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "EditForm",
  data() {
    return {
      status: [],
      err: [],
      sel: "1",
      name: "",
      description: "",
      finish_date: "0000-00-00 00:00:00",
    };
  },
  created() {
    this.getStatus();
    this.getWorkId();
    this.getNow();
  },
  methods: {
    getNow: function () {
      const today = new Date();
      const date =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate();
      const time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date + " " + time;
      this.timestamp = dateTime;
    },
    async getWorkId() {
      try{
            const response = await axios.get(`homework/${this.$route.params.id}`);
            (this.name = response.data[0].name), 
            (this.description = response.data[0].description),
            (this.sel = response.data[0].status_id);
            // (this.name = "response.data.name"), (this.description = "response.data.description");
            
            // (this.description = response.data.description),
            // (this.sel = response.data.status_id);
      }catch(error){
          console.log(error)
      }
    },
    async getStatus() {
      try {
        const response = await axios.get("status");
        this.status = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async saveWork() {
      try {
        this.err = [];
        if (this.name && this.description) {
          if (parseInt(this.sel) > 2) this.finish_date = this.timestamp;
          await axios.put(`homework/${this.$route.params.id}`, {
            name: this.name,
            description: this.description,
            status_id: this.sel,
            finish_date: this.finish_date,
          });
          (this.sel = "1"),
            (this.name = ""),
            (this.description = ""),
            this.$router.push("/");
          //console.log(this.name, this.description, this.sel, this.finish_date);
        } else {
          if (!this.name) {
            this.err.push("Forget Name of work....");
          }
          if (!this.description) {
            this.err.push("Forget Description of work....");
          }
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>