<template>
  <div>
    <!-- <fa :icon="['fas', 'phone']" /> -->
    <h1 class="title">Homework List</h1>
    <table class="table is-striped is-fullwidth" width="100%">
      <thead>
        <tr>
          <th width="10%">Title</th>
          <th width="30%">Description</th>
          <th colspan="3">Dates</th>
          <th width="15%">Actions</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Create Date</td>
          <td>Modification Date</td>
          <td>Finished Date</td>
          <td></td>
        </tr>
      </thead>
    </table>
    <div>
      <div v-for="s in status" :key="s.id">
        <h2 class="subtitle">{{ s.name }}</h2>
        <div v-for="h in homework" :key="h.id">
          <table class="table is-striped is-fullwidth">
            <tr
              v-if="h.status_id === '1' && s.id === '1'"
              class="has-background-info-dark has-text-info-light"
            >
              <td width="10%">{{ h.name }}</td>
              <td width="30%">{{ h.description }}</td>
              <td>{{ h.created_date }}</td>
              <td>{{ h.modification_date }}</td>
              <td width="15%">-</td>
              <td width="15%">
                <router-link
                  :to="{ name: 'EditHomework', params: { id: h.id } }"
                  class="button is-warning is-small"
                  ><fa icon="pen-to-square"
                /></router-link>
                <button
                  class="button is-danger is-small"
                  @click="cancelWork(h.id, h.name, h.description)"
                >
                  <fa icon="trash" />
                </button>
              </td>
            </tr>
            <tr
              v-else-if="h.status_id === '2' && s.id === '2'"
              class="has-background-warning-dark has-text-warning-light"
            >
              <td width="10%">{{ h.name }}</td>
              <td width="30%">{{ h.description }}</td>
              <td>{{ h.created_date }}</td>
              <td>{{ h.modification_date }}</td>
              <td width="15%">-</td>
              <td width="15%">
                <router-link
                  :to="{ name: 'EditHomework', params: { id: h.id } }"
                  class="button is-warning is-small"
                  ><fa icon="pen-to-square"
                /></router-link>
                <button
                  class="button is-danger is-small"
                  @click="cancelWork(h.id, h.name, h.description)"
                >
                  <fa icon="trash" />
                </button>
              </td>
            </tr>
            <tr
              v-else-if="h.status_id === '3' && s.id === '3'"
              class="has-background-success-dark has-text-success-light"
            >
              <td width="10%">{{ h.name }}</td>
              <td width="30%">{{ h.description }}</td>
              <td>{{ h.created_date }}</td>
              <td>{{ h.modification_date }}</td>
              <td>{{ h.finish_date }}</td>
              <td width="15%">
                <router-link
                  :to="{ name: 'EditHomework', params: { id: h.id } }"
                  class="button is-warning is-small"
                  ><fa icon="pen-to-square"
                /></router-link>
                <button
                  class="button is-danger is-small"
                  @click="cancelWork(h.id, h.name, h.description)"
                >
                  <fa icon="trash" />
                </button>
              </td>
            </tr>
            <tr
              v-else-if="h.status_id === '4' && s.id === '4'"
              class="has-background-danger-dark has-text-danger-light"
            >
              <td width="10%">{{ h.name }}</td>
              <td width="30%">{{ h.description }}</td>
              <td>{{ h.created_date }}</td>
              <td>{{ h.modification_date }}</td>
              <td>{{ h.finish_date }}</td>
              <td width="15%">
                <button
                  class="button is-success is-small"
                  @click="returnWork(h.id, h.name, h.description)"
                >
                  <fa icon="circle-plus" />
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Homework",
  data() {
    return {
      homework: [],
      status: [],
    };
  },
  created() {
    this.getHomework();
    this.getStatus();
    this.getNow();
  },
  methods: {
    getNow: function () {
      const today = new Date();
      const date =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate();
      const time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date + " " + time;
      this.timestamp = dateTime;
    },
    async getHomework() {
      try {
        const response = await axios.get("homework");
        this.homework = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async getStatus() {
      try {
        const response = await axios.get("status");
        this.status = response.data;
      } catch (error) {
        console.log(error);
      }
    },
    async cancelWork(id, name, description) {
      try {
        await axios.put(`homework/${id}`, {
          name: name,
          description: description,
          status_id: "4",
          finish_date: this.timestamp,
        });
        this.getHomework();
      } catch (error) {
        console.log(error);
      }
    },
    async returnWork(id, name, description) {
      try {
        await axios.put(`homework/${id}`, {
          name: name,
          description: description,
          status_id: "1",
          finish_date: "0000-00-00 00:00:00",
        });
        this.getHomework();
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style>
</style>